<div class="well">
  <a routerLink="/">Inicio</a>
</div>
<div class="">
  <label for="" class="">Titulo</label>
  <input required type="text" class="form-control form-control-lg" placeholder="Titulo" [(ngModel)]="notificacion.titulo">
  <br>
  <label for="" class="">Tipo</label>
  <select required class="form-control form-control-lg"  [(ngModel)]="notificacion.tipo">
    <option value="" disabled selected>Seleccionar una opcion</option>
    <option value="Opcion 1">Op1</option>
  </select>
  <br>
  <label for="" class="">Mensaje</label>
  <input required type="text" class="form-control form-control-lg" placeholder="Mensaje" [(ngModel)]="notificacion.mensaje">
  <label for="" class="">Creador</label>
  <input required type="text" class="form-control form-control-lg" placeholder="Creador" [(ngModel)]="notificacion.creador">

  <br>
  <hr>
  <button class="btn btn-primary" (click)="guardarNotificacion()" >Enviar</button>
  <button class="btn btn-success" (click)="actualizarNotificacion()" >Actualizar</button>
  <a routerLink="/" class="btn btn-default">Cancelar</a>
  
</div>
